{{#each blogPosts as |blog| }}
<div class="row align-center mb-2">
  <div class="col-md-8">
  <a href="/blog/{{blog.id}}">
  <h3>{{{blog.title}}}</h3>
  
      </a>
      <p>Posted by <b>{{blog.user.userName}}</b></p>
  <p> {{blog.body}}</p>
  <p class="createdAt"> {{blog.createdAt}}</p>
 
  </div>
  <div class="col-md-8">
  </div>
</div>
{{/each}}

